extends: default

ignore: |
  helm-charts/*/templates

rules:
  comments:
    min-spaces-from-content: 1
  document-end:
    present: false
  document-start:
    present: false
  indentation:
    indent-sequences: false
  line-length:
    max: 120
